# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset: https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset 

Import the necessary libraries and create your dataframe(s).

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
HR_df = pd.read_csv('HR-Employee-Attrition.csv')

# Display the first few rows and basic information about the dataset
HR_df.head()
HR_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [2]:
HR_df.isnull().sum() # This data set doesn't have any null values

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [3]:

HR_df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [4]:
# Step 1: Function to detect outliers using the IQR method for each numerical column The IQR method helps identify data points that fall outside the typical range
# by calculating the distance between the 25th percentile (Q1) and the 75th percentile (Q3).
# Any point beyond 1.5 times the IQR from Q1 or Q3 is considered an outlier.
def detect_outliers_iqr(HR_df, columns):
    outliers = {}
    for col in columns:
        Q1 = HR_df[col].quantile(0.25)  # Calculate the 25th percentile (Q1)
        Q3 = HR_df[col].quantile(0.75)  # Calculate the 75th percentile (Q3)
        IQR = Q3 - Q1  # Compute the interquartile range (IQR)
        lower_bound = Q1 - 1.5 * IQR  # Define the lower bound for outliers
        upper_bound = Q3 + 1.5 * IQR  # Define the upper bound for outliers

        # Identify outliers: Any value below the lower bound or above the upper bound is flagged
        outliers[col] = HR_df[(HR_df[col] < lower_bound) | (HR_df[col] > upper_bound)][col]
    
    return outliers

# Step 2: Function to cap outliers based on the IQR method
# Why: Capping outliers prevents extreme values from skewing the dataset while retaining the data.
# It replaces outliers with boundary values, ensuring that they stay within a reasonable range.
def cap_outliers(HR_df, columns):
    for col in columns:
        Q1 = HR_df[col].quantile(0.25)  # Calculate the 25th percentile (Q1)
        Q3 = HR_df[col].quantile(0.75)  # Calculate the 75th percentile (Q3)
        IQR = Q3 - Q1  # Compute the interquartile range (IQR)
        lower_bound = Q1 - 1.5 * IQR  # Define the lower bound for capping
        upper_bound = Q3 + 1.5 * IQR  # Define the upper bound for capping
        
        # Cap values below the lower bound to the lower bound, and values above the upper bound to the upper bound
        HR_df[col] = HR_df[col].apply(lambda x: upper_bound if x > upper_bound else (lower_bound if x < lower_bound else x))
        
    return HR_df

# Step 3: Identify numerical columns
# Why: We only want to apply the IQR method to numerical columns because outliers
# are more meaningful in continuous data, rather than categorical data.
numerical_columns = HR_df.select_dtypes(include=['int64', 'float64']).columns

# Step 4: Detect outliers for numerical columns
# Why: Before capping the outliers, it's important to first understand which columns have extreme values.
# This step prints the number of outliers found in each column for reference.
outliers = detect_outliers_iqr(HR_df, numerical_columns)
print("Outliers detected in each column:")
for col, outliers_col in outliers.items():
    print(f"{col}: {len(outliers_col)} outliers")

# Step 5: Cap the outliers in the dataset
# Why: After detecting outliers, this step modifies the dataset by capping extreme values to avoid skewing the analysis.
data_capped = cap_outliers(HR_df.copy(), numerical_columns)

# Step 6: Display the capped dataset summary statistics
# Why: After handling outliers, i want to check the summary statistics of the dataset
# to ensure that the capping worked as expected and that the data is within reasonable ranges.
data_capped.describe()

Outliers detected in each column:
Age: 0 outliers
DailyRate: 0 outliers
DistanceFromHome: 0 outliers
Education: 0 outliers
EmployeeCount: 0 outliers
EmployeeNumber: 0 outliers
EnvironmentSatisfaction: 0 outliers
HourlyRate: 0 outliers
JobInvolvement: 0 outliers
JobLevel: 0 outliers
JobSatisfaction: 0 outliers
MonthlyIncome: 114 outliers
MonthlyRate: 0 outliers
NumCompaniesWorked: 52 outliers
PercentSalaryHike: 0 outliers
PerformanceRating: 226 outliers
RelationshipSatisfaction: 0 outliers
StandardHours: 0 outliers
StockOptionLevel: 85 outliers
TotalWorkingYears: 63 outliers
TrainingTimesLastYear: 238 outliers
WorkLifeBalance: 0 outliers
YearsAtCompany: 104 outliers
YearsInCurrentRole: 21 outliers
YearsSinceLastPromotion: 107 outliers
YearsWithCurrManager: 14 outliers

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.764966,11.103061,2.710884,2.761224,6.617687,4.207823,1.922789,4.107483
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.782312,7.303828,1.037954,0.706476,4.989788,3.555335,2.478222,3.517487
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.500000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,2.500000,28.500000,4.500000,4.000000,18.000000,14.500000,7.500000,14.500000

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [5]:
num_columns = data_capped.shape[1]

# Print the number of columns
print(f"Number of columns in the dataset before dropping unnessary data: {num_columns}")


data_capped_dropped = data_capped

# Step 1: Check for duplicate rows and remove them to avoid skewing the analysis
duplicate_rows = data_capped_dropped.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicate_rows}")
if duplicate_rows > 0:
    data_capped_dropped = data_capped_dropped.drop_duplicates()

# Step 2: Remove columns with only one unique value as they don't provide useful information
constant_columns = [col for col in data_capped_dropped.columns if data_capped_dropped[col].nunique() == 1]
print(f"Columns with a single unique value: {constant_columns}")
data_capped_dropped = data_capped_dropped.drop(columns=constant_columns)

# Step 3: Drop irrelevant columns like unique identifiers (e.g., EmployeeNumber) that don't contribute to analysis
irrelevant_features = ['EmployeeNumber', 'EmployeeCount', 'StandardHours']

# Check if the irrelevant columns exist in the dataset before dropping them
# doing this because I got an error for EmployeeCount and StandardHours which were
# dropped in the previous steps 
irrelevant_columns_to_drop = [col for col in irrelevant_features if col in data_capped_dropped.columns]
if irrelevant_columns_to_drop:
    print(f"Dropping irrelevant columns: {irrelevant_columns_to_drop}")
    data_capped_dropped = data_capped_dropped.drop(columns=irrelevant_columns_to_drop)
else:
    print(f"No irrelevant columns to drop from: {irrelevant_features}")

# Step 4: Identify and remove highly correlated columns (correlation > 0.9) to avoid redundancy
# We first need to select only the numerical columns for calculating correlations
numerical_columns = data_capped_dropped.select_dtypes(include=['int64', 'float64']).columns

# Calculate the correlation matrix for numerical columns only
correlation_matrix = data_capped_dropped[numerical_columns].corr()

# Find pairs of highly correlated columns
high_corr_pairs = [(col1, col2) for col1 in correlation_matrix.columns 
                   for col2 in correlation_matrix.columns 
                   if col1 != col2 and abs(correlation_matrix.loc[col1, col2]) > 0.9]
columns_to_drop = set([pair[1] for pair in high_corr_pairs])
print(f"Columns to drop due to high correlation: {columns_to_drop}")
data_capped_dropped = data_capped_dropped.drop(columns=columns_to_drop)


columns_list = data_capped_dropped.columns.tolist()

num_columns = data_capped_dropped.shape[1]
# Print the number of columns
print(f"\nNumber of columns in the dataset before dropping unnessary data: {num_columns}")

Number of columns in the dataset before dropping unnessary data: 35

Number of duplicate rows: 0
Columns with a single unique value: ['EmployeeCount', 'Over18', 'PerformanceRating', 'StandardHours']
Dropping irrelevant columns: ['EmployeeNumber']
Columns to drop due to high correlation: {'MonthlyIncome', 'JobLevel'}

Number of columns in the dataset before dropping unnessary data: 28

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [6]:
data_cleaned =data_capped_dropped


# Check for inconsistent data types
print("\nChecking for inconsistent data types:")
for column in data_cleaned.columns:
    print(f"{column}: {data_cleaned[column].dtype}")

# Convert 'Attrition' to boolean
data_cleaned['Attrition'] = data_cleaned['Attrition'].map({'Yes': True, 'No': False})

# Convert 'OverTime' to boolean
data_cleaned['OverTime'] = data_cleaned['OverTime'].map({'Yes': True, 'No': False})

# Check for inconsistent categories in categorical variables
categorical_columns = ['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus']

print("\nChecking for inconsistent categories:")
for col in categorical_columns:
    print(f"\n{col} unique values:")
    print(data_cleaned[col].value_counts())

# Check for inconsistencies in numerical columns
print("\nChecking for inconsistencies in numerical columns:")

# Age should be between 18 and reasonable retirement age (let's say 70)
inconsistent_age = data_cleaned[(data_cleaned['Age'] < 18) | (data_cleaned['Age'] > 70)]
if not inconsistent_age.empty:
    print(f"Found {len(inconsistent_age)} employees with inconsistent age.")
    data_cleaned = data_cleaned[(data_cleaned['Age'] >= 18) & (data_cleaned['Age'] <= 70)]
else:
    print("\nNone in Age")

# YearsAtCompany should not be greater than Age - 18
inconsistent_years = data_cleaned[data_cleaned['YearsAtCompany'] > (data_cleaned['Age'] - 18)]
if not inconsistent_years.empty:
    print(f"Found {len(inconsistent_years)} employees with YearsAtCompany > (Age - 18).")
    data_cleaned.loc[inconsistent_years.index, 'YearsAtCompany'] = data_cleaned.loc[inconsistent_years.index, 'Age'] - 18
else:
    print("\nNone in YearsAtCompany")

# TotalWorkingYears should not be greater than Age - 18
inconsistent_working_years = data_cleaned[data_cleaned['TotalWorkingYears'] > (data_cleaned['Age'] - 18)]
if not inconsistent_working_years.empty:
    print(f"Found {len(inconsistent_working_years)} employees with TotalWorkingYears > (Age - 18).")
    data_cleaned.loc[inconsistent_working_years.index, 'TotalWorkingYears'] = data_cleaned.loc[inconsistent_working_years.index, 'Age'] - 18
else:
    print("\nNone in TotalWorkingYears")

# YearsAtCompany should not be greater than TotalWorkingYears
inconsistent_company_years = data_cleaned[data_cleaned['YearsAtCompany'] > data_cleaned['TotalWorkingYears']]
if not inconsistent_company_years.empty:
    print(f"Found {len(inconsistent_company_years)} employees with YearsAtCompany > TotalWorkingYears.")
    data_cleaned.loc[inconsistent_company_years.index, 'YearsAtCompany'] = data_cleaned.loc[inconsistent_company_years.index, 'TotalWorkingYears']
else:
    print("\nNone in YearsAtCompany should not be greater than TotalWorkingYears")

# YearsInCurrentRole, YearsSinceLastPromotion, and YearsWithCurrManager should not be greater than YearsAtCompany
for col in ['YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']:
    inconsistent_years = data_cleaned[data_cleaned[col] > data_cleaned['YearsAtCompany']]
    if not inconsistent_years.empty:
        print(f"Found {len(inconsistent_years)} employees with {col} > YearsAtCompany.")
        data_cleaned.loc[inconsistent_years.index, col] = data_cleaned.loc[inconsistent_years.index, 'YearsAtCompany']
else:
    print("\nNone in YearsInCurrentRole, YearsSinceLastPromotion, and YearsWithCurrManager should not be greater than YearsAtCompany")


# Check for inconsistencies in satisfaction ratings
satisfaction_columns = ['EnvironmentSatisfaction', 'JobSatisfaction', 'RelationshipSatisfaction', 'WorkLifeBalance']
for col in satisfaction_columns:
    if data_cleaned[col].min() < 1 or data_cleaned[col].max() > 4:
        print(f"Inconsistent values found in {col}. Values should be between 1 and 4.")
        data_cleaned[col] = data_cleaned[col].clip(1, 4)
else:
    print("\nNone in Satisfaction ratings")

# Check for negative values in columns that should be non-negative
non_negative_columns = ['DailyRate', 'DistanceFromHome', 'HourlyRate', 'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

for col in non_negative_columns:
    if (data_cleaned[col] < 0).any():
        print(f"Negative values found in {col}. Setting them to 0.")
        data_cleaned[col] = data_cleaned[col].clip(lower=0)
else:
    print("\nNo negative values")

Checking for inconsistent data types:
Age: int64
Attrition: object
BusinessTravel: object
DailyRate: int64
Department: object
DistanceFromHome: int64
Education: int64
EducationField: object
EnvironmentSatisfaction: int64
Gender: object
HourlyRate: int64
JobInvolvement: int64
JobRole: object
JobSatisfaction: int64
MaritalStatus: object
MonthlyRate: int64
NumCompaniesWorked: float64
OverTime: object
PercentSalaryHike: int64
RelationshipSatisfaction: int64
StockOptionLevel: float64
TotalWorkingYears: float64
TrainingTimesLastYear: float64
WorkLifeBalance: int64
YearsAtCompany: float64
YearsInCurrentRole: float64
YearsSinceLastPromotion: float64
YearsWithCurrManager: float64

Checking for inconsistent categories:

BusinessTravel unique values:
BusinessTravel
Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: count, dtype: int64

Department unique values:
Department
Research & Development    961
Sales                     446
Human Resources            63
Name: count, dtype: int64

EducationField unique values:
EducationField
Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: count, dtype: int64

Gender unique values:
Gender
Male      882
Female    588
Name: count, dtype: int64

JobRole unique values:
JobRole
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: count, dtype: int64

MaritalStatus unique values:
MaritalStatus
Married     673
Single      470
Divorced    327
Name: count, dtype: int64

Checking for inconsistencies in numerical columns:

None in Age

None in YearsAtCompany

None in TotalWorkingYears

None in YearsAtCompany should not be greater than TotalWorkingYears

None in YearsInCurrentRole, YearsSinceLastPromotion, and YearsWithCurrManager should not be greater than YearsAtCompany

None in Satisfaction ratings

No negative values

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset? 

I found three out of four types of dirty data, We did not find any missing data

2. Did the process of cleaning your data give you new insights into your dataset?
The data was quite clean. There were some inconsistencies and outliers that we fixed. There were some issues with BusinessTravel and Attrition that had differnt vformatns and some inconsistencies in TotalWorkingYears  & age columns which point to potential data entry errors we need to look out for

3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?

We need to standarize categorical data and remove variations. We will need to use the dataframe with the dirty data removed and removing highly correlated data to make visualizations better